<div class="item">
	  <a href="{{ project.url }}">
  	  <img  alt="{{project.title}}" data-interchange=
        "
        [{{ project.image | imgix_url: w: 720, h: 300, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 2}}, small]
        [{{ project.image | imgix_url: w: 720, h: 300, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 40, fit: "crop", dpr: 2}}, medium]
        [{{ project.image | imgix_url: w: 1440, h: 600, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, large]
        "
        >
    </a>
		<div class="item__title">{{ project.title }}</div>
		<div class="item__director">{{ project.director }}</div>
</div>