@font-face {
  font-family: 'PX Grotesk Regular';
  src: 
  url('../fonts/px-grotesk-regular.woff2') format('woff2'), 
  url('../fonts/px-grotesk-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text Regular';
  src: 
  url('../fonts/tiempos-text-regular.woff2') format('woff2'), 
  url('../fonts/tiempos-text-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}