//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}


// 5. Loading
// ------

.loader {
  z-index: 3;
  position: fixed;
  background: $white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 1;
  transition: $primary-transition;
  visibility: visible;
  
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}


// 6. Navigation
// ------

.navigation__logo {
  z-index: 2;
}

.navigation__job {
  z-index: 2;
}

.navigation__job a {
  color: $color--highlight;
}

.navigation__job a:hover {
  color: $color--black;
}

.navigation__hamburger {
  z-index: 2;
}

.navigation--mobile {
  z-index: 1;
  position: fixed;
  background: $secondary-color;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 0;
  transition: $primary-transition;
  visibility: hidden;
  font-family: $header-font-family;
  font-size: 1.5rem;

  &.open {
    opacity: 1;
    visibility: visible;
  }
  
  a {
   padding: 1rem 0rem;
  }
}

// 7. Projects
// ----------

.projects__list a {
  display: block;
  width: 100%;
  position: relative; 
}
    
.projects__list a:hover img {
  filter: saturate(0%) brightness(40%); 
}
    
.projects__list a img {
  transition: $primary-transition;
  display: block;
  padding-bottom: 1rem;
}


// 8. Project
// ---------

/*
.project__credits {
  color: $color--highlight;
}

.project__pagination a {
  color: $color--highlight;
}

.project__pagination a:hover {
  color: $color--black;
}
*/

// 9. Info
// ---------


.item__director {
  font-family: $secondary-font-family;
  color: $secondary-color;
}

.cv__title {
  color: $secondary-color;
}

.cv__item {
  border-bottom: 1px solid $secondary-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
}