---
layout: default
---

<div class="grid-container">
  
<!-- Description -->
<div class="grid-x grid-padding-x grid-padding-y">
	<div class="small-12 medium-10 large-10 cell">
		<h1>{{site.description}}</h1>
	</div>
</div>
<!-- End Description -->

<!-- Description -->
<div class="grid-x grid-padding-x home__selected">
	<div class="small-12 medium-10 large-10 cell">
		Selected Projects
	</div>
</div>
<!-- End Description -->

<!-- Projects -->
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-1 large-up-1 xxlarge-up-1">
  {% assign projects = site.projects | sort: 'position' | where: "is-front", "true" %}
  {% for project in projects limit:8 %}
    <div class="cell projects__list" data-aos="fade-in">
      
      <div class="item">
      	  <a href="{{ project.url }}">
        	  <img src="{{ project.image }}" alt="{{project.title}}">
        	  <div class="item__play">
          	  <div class="grid-y align-middle align-center text-center" style="height: 100%">
                <div class="cell">
                  <h3>Play</h3>
          		  </div>
          		</div>
            </div>
          </a>
          
      		<div class="item__title"><h3>{{ project.title }}</h3></div>
      		<div class="item__director">{{ project.director }}</div>
      </div>
      
    </div>
  {% endfor %}
</div>
<!-- End Projects -->

</div>